body,html{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
  font-family: 'Space Mono', serif;
  overflow:hidden;
}

/*Para poder configurar mejor los botones que vamos a usar para la transicion manual de las imagenes vamos a establecer que los input del tipo radio no se vean,
y que el usuario pulse directamente en los labels que tendran una imagen que acompañe mejor el estilo visual de la pagina */

input[type=radio]{
  position:static;
  opacity:10;
  margin-top:15vh;
  display:none;
}
 
/*Configuramos  visualmente los labels que pulsara el usuario */
label{
	  
  display:block;
  width:20px;
  height:20px;
  border:solid 5px white;
  border-radius: 19px;
  background-color:transparent;
  margin:2vh 16px 10px 18px;
  z-index:2;
   
  transition-duration:0.4s;
}

/*Establecemos el color que se muestra en el botón circular cuando se marca, en este caso es el mismo color del botón "Entrar"  y el botón "registrate"*/
input:checked +label{
  background-color:#677eff;
 
}

/*Configuramos  la transicion de las imagenes, desde su tamaño hasta el tiempo que tarda en cambiar a otra imágen */
.slide{
	
  position:absolute;
  background-color:grey;
  background-position:center;
  background-size:cover;
  background-repeat:no-repeat;
  width:100%;
  height:100%;
  top:0;
  left:0;
    /*Con z-index establecemos el orden de los elementos que se encuentran apilados, en este caso para que los botones se vean superpuestos a 
  las imagenes tenemos que establecer que el z-index sea -1*/
  z-index:-1;
  transform:translateX(-100%);
    /*Establecemos que no haya tiempo de delay en la transición para que el cambio de las imagenes sea inmediato*/
  transition-delay:0s;
  opacity:0;
}

 /*Establecemos la posicion del input, del label y del slide de manera simultanea  en el plano horizonal*/
input:checked+label+.slide{
  transform:translateX(0);
  opacity:1;

}
/*Conjunto de imagenes que utilizamos en el fondo */
 .bg1{
  background-image:url(1.jpg);
}

.bg2{
 background-image: url(calle.jpg); 
}


.bg3{
  background-image:url(3.jpg);
}
 
  /*Establecemos las propiedades generales del section, que en el caso de esta pagina va a contener a todos los elementos excepto al footer*/
section
{
    position: relative;
	/*establecemos la distancia minima del section*/
    min-height: 100vh;
  background-image:url(fotos/kayak.jpg);
    justify-content: center;
    align-items: center;
    padding: 0px;
}
   /*Establecemos las propiedades generales del div container*/
section .container 
{
	
    position: relative;
    width: 1500px;
    height: 800px;
    /*Añadimos una sombras en los laterales del contenedor central para darle profundidad*/
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
	/*Utilizamos overflow:hidden para evitar que algunos elementos demasiado grandes se salgan del container*/
    overflow: hidden;
    left: 200px;
    top: 80px;
 
}
 
   /*Configuramos los divs donde donde se encuentra las fotos:  "user singinBx" y "imgBx" */
section .container .user
{
    position: absolute;
    top: 0;
    left: 0;
    width: 106%;
    height: 100%;
    display: flex;
	margin-bottom:60px;
}
 
section .container .user .imgBx
{
    position: relative;
    width: 100%;
    height: 100%;
   
    
}
 

  /*Configuramos el div formBx que contiene desde el titulo de la página hasta el enlace que reconduce a la pagina de registro*/
section .container .user .formBx
{
    position: relative;
    width: 30%;
    height: 100%;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
     
}
   /*Configuramos los headers h2, en este caso, el título de "familias inquietas"  y "Inicio de sesión"*/
section .container .user .formBx form h2 
{
    font-size: 20px;
 
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    width: 70%;
    margin-bottom: -10px;
    color: #555;
}
/*Configuramos el header de "familias inquietas" */
section .container .user .formBx form h2[class=titulo]
{
    font-size: 43px;
 position:absolute;
  top:10px;
  left:22px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    width: 70%;
    
    color: #555;
}

  /*Configuramos los inputs donde introducimos el nombre de usuario y la contraseña*/
section .container .user .formBx form input
{
    position: relative;
    width: 60%;
    padding: 10px;
    background: #f5f5f5;
    color: #333;
    border: none;
    outline: none;
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
    margin: 3px 0;
	
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 300;   
}
 
 .titulo{
	 
	 font-size:120px;
	 
 }
 /*Configuramos el botón de entrar*/
section .container .user .formBx form input[type="submit"]
{
    max-width: 100px;
	  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    background: #677eff;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    transition: 0.5s;
}

 
 
section .container .user .formBx form .signup
{
    position: relative;
    margin-top: 20px;
    font-size: 12px;
    letter-spacing: 1px;
    color: #555;
    text-transform: uppercase;
    font-weight: 300;
}
 
section .container .user .formBx form .signup a 
{
    font-weight: 600;
    text-decoration: none;
    color: #677eff;
}
 
section .container .signupBx
{
    pointer-events: none;
}
/*Establecemos el footer */
footer{
	font-size:12px;
	text-align: center;
   position:absolute ;
	top: 95%;
    left: 39.2%;
	 text-shadow: 2px 2px #ffffff;
}
